.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__title{
  padding-top: 50px;
  padding-bottom: 50px;
}

.content__cover > img{
  border: solid 1px black;
  border-radius: 25%;
  max-width: 400px;
}

.content__description {
  margin: 30px 300px 60px 300px;
}
